@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --primary: #ffad29;
  --primary-glow: #ffd086;
  --primary-bg: #0b0702;
  --primary-size: 35px;

  /* glow */
  --base-shadow-size: 55px;

  --txt-glow-1: rgba(255, 173, 41, 1);
  --txt-glow-2: rgba(255, 173, 41, 0.8);
  --txt-glow-3: rgba(255, 173, 41, 0.6);
}

* {
  font-family: "VT323", monospace;
  font-size: var(--primary-size);
  line-height: 70px;
  color: var(--primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-shadow: 0 0 calc(var(--base-shadow-size) * 1) var(--txt-glow-1),
    0 0 calc(var(--base-shadow-size) * 2) var(--txt-glow-2);
}

/* vcr effect */

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
}
canvas.snow {
  background-color: #aaa;
  opacity: 0.2;
}
