.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  background: linear-gradient(
    to right,
    var(--primary-bg-rgba),
    var(--primary-bg-rgba)
  );
  /* filter: contrast(108%) brightness(120%); */
  animation: roll 5s linear infinite;
}

.console {
  padding: 2rem;
}

.consoleHeader {
}

.consoleBody {
}

.blink {
  animation: blink 0.1s steps(1) infinite;
}

/* blink */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink:nth-child(odd) {
  animation-delay: 0.05s;
}

.blink:nth-child(even) {
  animation-delay: 0.1s;
}
