@font-face {
  font-family: "IBM_VGA";
  src: local("IBM_VGA"),
    url("./assets/fonts/1985-ibm-pc-vga/PxPlus_IBM_VGA8.ttf") format("truetype");
}
@font-face {
  font-family: "PetMe";
  src: local("PetMe"),
    url("./assets/fonts/1977-commodore-pet/PetMe.ttf") format("truetype");
}
@font-face {
  font-family: "ProggyTiny";
  src: local("ProggyTiny"),
    url("./assets/fonts/modern-proggy-tiny/ProggyTiny.ttf") format("truetype");
}
@font-face {
  font-family: "Print21";
  src: local("Print21"),
    url("./assets/fonts/1977-apple2/PrintChar21.ttf") format("truetype");
}
:root {
  --base-shadow-size: 25px;
  --primary-size: 15px;
  /* orange */
  --primary: rgba(255, 157, 0, 1);
  --primary-bg: rgba(19, 12, 4, 1);
  --primary-bg-rgba: rgba(19, 12, 4, 0.98);
  --txt-glow-1: rgba(255, 157, 0, 0.8);
  --txt-glow-2: rgba(255, 157, 0, 0.6);
  /* green */
  /* --primary: rgba(217, 253, 136, 1);
  --primary-bg: rgba(21, 27, 14, 1);
  --primary-bg-rgba: rgba(21, 27, 14, 0.98);
  --txt-glow-1: rgba(217, 253, 136, 0.8);
  --txt-glow-2: rgba(217, 253, 136, 0.6); */
}

* {
  font-family: "PetMe";
  font-size: var(--primary-size);
  color: var(--primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
input,
pre {
  line-height: calc(var(--primary-size) * 2);
  text-shadow: 0 0 calc(var(--base-shadow-size) * 1) var(--txt-glow-1),
    0 0 calc(var(--base-shadow-size) * 5) var(--txt-glow-2);
}

pre {
  white-space: pre-wrap;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

p {
  padding: 0.5rem 1rem;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
canvas.snow {
  background-color: #aaa;
  opacity: 0.2;
}
